{% extends "base.html" %}
{% load static %}
{% block title %}
<title>ALL MANGA</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
{% include "includes/header.html" %}
<div class="container">
    <main class="content">
        <div class="search-content">
            <input type="text" id="search-input" placeholder="Поиск...">
            <button id="search" class="button-search">Поиск</button>
        </div>
        <div class="catalog" id="catalog"></div>
    </main>
    <aside class="sidebar">
        <h3>Сортировать</h3>
            <div class="checkbox-container">
                <label><input type="checkbox" value="year">Год выхода:</label>
                <label><input type="checkbox" value="rating">Рейтинг:</label>
                {% comment %} <label><input type="checkbox" value="popular">Популярность</label> {% endcomment %}
            </div>
    
        <h3>Фильтр</h3>
        {% comment %} <label>Жанры</label>
        <select id="genres"><option>Выбрать...</option></select>
        <label>Теги</label>
        <select id="tags"><option>Выбрать...</option></select> {% endcomment %}
    
        {% comment %} <h3>Возрастной рейтинг</h3>
        <div class="checkbox-group">
            <label><input type="checkbox" name="age" value="none"> Нет</label>
            <label><input type="checkbox" name="age" value="6"> +6</label>
            <label><input type="checkbox" name="age" value="12"> +12</label>
            <label><input type="checkbox" name="age" value="16"> +16</label>
            <label><input type="checkbox" name="age" value="18"> +18</label>
        </div> {% endcomment %}
    
        <h3>Тип</h3>
        <div class="checkbox-group">
            <label><input type="checkbox" name="type" value="manga"> Манга</label>
            <label><input type="checkbox" name="type" value="manhwa"> Манхва</label>
            <label><input type="checkbox" name="type" value="manhua"> Маньхуа</label>
            <label><input type="checkbox" name="type" value="rumanga"> Руманга</label>
        </div>
    
        <h3>Статус тайтла</h3>
        <div class="checkbox-group">
            <label><input type="checkbox" name="status" value="ongoing"> Онгоинг</label>
            <label><input type="checkbox" name="status" value="announcement"> Анонс</label>
            <label><input type="checkbox" name="status" value="completed"> Завершен</label>
            <label><input type="checkbox" name="status" value="discontinued"> Прекращен</label>
            <label><input type="checkbox" name="status" value="paused"> Приостановлен</label>
        </div>
        <div class="button-container">
            <button id="applyFilters" class="button button-apply">Применить</button>
            <button id="resetFilters" class="button button-reset">Сбросить</button>
        </div>
    </aside>
</div>
<div id="pagination" class="pagination-container"></div>
{{ json|json_script:"mangaData" }}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}